.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  margin: 66px 0 60px 0;
}

@media screen and (max-width: 710px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
