@import url(./vendor/fonts.css);
@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__data/header__data.css);
@import url(./blocks/header/__data/_type/header__data_type_email.css);
@import url(./blocks/header/__data/_type/header__data_type_exit.css);
@import url(./blocks/header/__data/_type/header__data_type_reg.css);
@import url(./blocks/header/__data/_type/header__data_type_enter.css);
@import url(./blocks/main/main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__parent-avatar/profile__parent-avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__heading/profile__heading.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements-wrapper/elements-wrapper.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_hidden/element__trash_hidden.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__wrapper/element__wrapper.css);
@import url(./blocks/element/__heading/element__heading.css);
@import url(./blocks/element/__likeWrapper/element__likeWrapper.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__likeCounter/element__likeCounter.css);
@import url(./blocks/element/__like/_type/element__like_type_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__updateAvatar-container/__updateAvatar-container.css);
@import url(./blocks/popup/__dltConfirm-container/popup__dltConfirm-container.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__dltConfirm-heading/popup__dltConfirm-heading.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__heading-image/popup__heading-image.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__header/login__header.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__input/_type/login__input_type_email.css);
@import url(./blocks/login/__input/_type/login__input_type_password.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__button/_type/login__button_type_enter.css);
@import url(./blocks/login/__link/login__link.css);
@import url(./blocks/login/__regQuestion/login__regQuestion.css);
@import url(./blocks/login/__questionContainer/login__questionContainer.css);
@import url(./blocks/popup/__result/_type/popup__result_type_image.css);
@import url(./blocks/popup/__result/popup__result.css);



