.element__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 282px;
  object-fit: cover;
}

.element__img:hover {
  cursor: pointer;
}
@media screen and (max-width: 710px) {
  .element__img {
    min-height: 282px;
  }
}
